ADMIN_USERNAME=admin
ADMIN_PASSWORD={{ admin_password }}
POSTGRES_USER=miniflux
POSTGRES_PASSWORD={{ db_password }}
DATABASE_URL=postgres://miniflux:{{ db_password }}@db/miniflux?sslmode=disable
POSTGRES_DB=miniflux
RUN_MIGRATIONS=1
CREATE_ADMIN=1